
// --------------------------------
// variable
// --------------------------------
@charset "UTF-8";
$white: #f2f2f2;
$black: #0a0a0a;
$logoColor: $white;
$navColor: $white;
$headerBgColor: $black;

/* --------------------------------
 * standards
 * -------------------------------- */
*, *::before, *::after {
  box-sizing: border-box;
}
.clearfix::after {
  content: '';
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
}
/* --------------------------------
 * header nav
 * -------------------------------- */
.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  color: $logoColor;
  background-color: $headerBgColor;
  background-color: #aaaaaa;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  &__logo {
  padding: 5px;
  margin-right: 10rem;
  margin-left: 1rem;
    font-size: 3rem;
    font-weight: normal;
    font-family: 'Akaya Telivigala', cursive;
    &__text {
      text-align: center;
      text-shadow: 2px 2px 0px #aaaaaa, 3px 2px 4px rgba(#aaaaaa,0.15);
      &__sub {
        margin: 0;
        padding: 0;
        display: block;
        font-size: 1.2rem;
        vertical-align: top;
        text-shadow: none;
        text-align: center;
      }
    }
  }
  .gnav {
    &__menu {
//      display: inline-block;
//      line-height: 1;
//      border: 1px solid lightgreen;
      a {
        color: $navColor;
        text-decoration: none;
      }
      &__list {
//      list-style: none;
      }
      &__item {
      float: left;
      margin-right: 20px;
      padding: 0px;
//      font-size: 1.5rem;
      letter-spacing: 1px;
      }
    }
    &__support {
//      border: 1px solid lightgreen;
//      display: inline-block;
      font-size: 1.5rem;
      &__item {
//      font-size: 1.5rem;
        float: left;
      }
    }
  }
}

/* --------------------------------
 * keynote view
 * -------------------------------- */
.kv {
  &__copy {
    position: absolute;
    left: 20rem;
    top: 30rem;
    font-size: 3rem;
    color: $black;
    z-index: 1;
  }
  &__wrapper {
    max-width: 100%;
    overflow: hidden;
    background-color: $white;
    &__inner{
      position: relative;
      left: 25rem;
      height: 650px;
      background: linear-gradient(to left, transparent 0%, transparent 70%, $white 100%), url('../images/top.png');
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

/* --------------------------------
 * cross section pictures
 * -------------------------------- */
.ex {
  background-color: #aaa;
  color: $white;
  h2 {
    font-size: 3rem;
    text-align: center;
    padding: 3rem;
  }
  &__box {
      margin: 3rem;
      width: 35%;
//      border: 1px solid lightgreen;
//    &:last-of-type {
//      margin-right: auto;
//    }
    &__image {
    max-width: 100%;
    max-height: 100%;
    }
    &__wrapper {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
    &__description {
      font-size: 1.5rem;
      padding-top: 2rem;
      text-align: center;
    }
  }
}
/* --------------------------------
 * parts
 * -------------------------------- */
.scroll{
  margin: 0 auto;
  background-color: transparent;
  width: 3rem;
  height: 3rem;
  border: 0.5rem solid;
  border-color:  transparent transparent $black $black;
  transform: rotate(-45deg);
  animation: flash 3s linear infinite;
}
.white {
  border-color:  transparent transparent $white $white;
}
.sym {
  width: 1.5rem;
  height: 1rem;
  fill: $white;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
