@charset "UTF-8";
/* Copyright 2021 yn-nishi All Rights Reserved. */
/* --------------------------------
 * base & common
 * -------------------------------- */
/* Google Fonts 使用 */
@font-face {
  font-family: 'M PLUS Rounded 1c';
  src: url("../fonts/MPLUSRounded1c-Regular.ttf") format("truetype");
  /* SIL OPEN FONT LICENSE Version 1.1 - 26 February 2007 (http://scripts.sil.org/OFL) */
}

@font-face {
  font-family: 'Akaya Telivigala';
  src: url("../fonts/AkayaTelivigala-Regular.ttf") format("truetype");
  /* Copyright 2015 The Akaya Telivigala Project Authors (https://github.com/vaishnavimurthy/Akaya-Telivigala) */
}

@font-face {
  font-family: 'Noto Serif JP';
  src: url("../fonts/NotoSerifJP-Light.otf") format("opentype");
  /* SIL OPEN FONT LICENSE Version 1.1 - 26 February 2007 (http://scripts.sil.org/OFL) */
}

body {
  width: 100%;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  letter-spacing: 1px;
}

body a {
  text-decoration: none;
  color: inherit;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}

.section {
  padding: 3rem 0 2.5rem;
}

.section__title {
  font-size: 1.8rem;
  text-align: center;
  padding: 4rem;
}

/* --------------------------------
 * svg画像
 * -------------------------------- */
.sym {
  width: 1rem;
  height: 1rem;
  stroke-width: 2;
  margin-right: 2px;
}

.sym.sym__black {
  fill: transparent;
  stroke: #0a0a0a;
}

.sym.sym__white {
  fill: transparent;
  stroke: #f2f2f2;
}

.sym.sym__yellow {
  fill: transparent;
  stroke: #ebd842;
}

/* --------------------------------
 * header nav
 * -------------------------------- */
.header {
  position: fixed;
  z-index: 200;
  width: 100%;
  color: #f2f2f2;
  background-color: rgba(10, 10, 10, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* body背景が黒の時のheaderスタイル */
}

.header__logo {
  padding: 5px;
  margin-left: 1rem;
  font-size: 1.8rem;
  font-weight: normal;
  font-family: 'Akaya Telivigala', cursive;
  text-align: center;
  text-shadow: 2px 2px 0px #aaaaaa, 3px 2px 4px rgba(170, 170, 170, 0.15);
}

.header__logo__sub {
  margin: 0;
  padding: 0;
  display: block;
  vertical-align: top;
  text-shadow: none;
  text-align: center;
  font-size: 0.8rem;
  letter-spacing: normal;
}

@media screen and (max-width: 620px) {
  .header__logo__sub {
    display: inline-block;
    margin-left: 0.5rem;
    vertical-align: baseline;
    font-size: 0.9rem;
    line-height: 1;
  }
}

@media screen and (max-width: 350px) {
  .header__logo__sub {
    display: none;
  }
}

.header__logo:hover {
  color: #ebd842;
}

.header .gnav__menu__item {
  float: left;
  margin-right: 1rem;
  padding: 0px;
}

.header .gnav__menu__item:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 780px) {
  .header .gnav__menu__item:last-of-type {
    margin-right: 2rem;
  }
}

@media screen and (max-width: 620px) {
  .header .gnav__menu__item p {
    display: none;
  }
}

.header .gnav__menu__item a {
  position: relative;
  display: flex;
  align-items: center;
}

.header .gnav__menu__item a::after {
  position: absolute;
  left: 50%;
  bottom: -4px;
  content: '';
  width: 0;
  height: 1px;
  background-color: #ebd842;
  transition: width 0.3s ease-in;
  transform: translateX(-50%);
}

.header .gnav__menu__item a:hover .sym {
  stroke: #ebd842;
  stroke-width: 3;
}

.header .gnav__menu__item a:hover::after {
  width: 100%;
}

.header .gnav__support {
  margin-right: 2rem;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 780px) {
  .header .gnav__support {
    display: none;
  }
}

.header.scroll {
  color: #0a0a0a;
  background-color: rgba(242, 242, 242, 0.8);
}

.header.scroll .sym {
  stroke: #0a0a0a;
  stroke-width: 2;
}

.header.scroll a::after {
  height: 3px;
  background-color: #b4a213;
}

.header.scroll a:hover {
  font-weight: bold;
}

.header.scroll a:hover .sym {
  stroke: #0a0a0a;
  stroke-width: 3;
  fill: #ebd842;
}

.header.scroll a:hover .header__logo {
  color: #0a0a0a;
  font-weight: bold;
}

/* --------------------------------
 * keynote view
 * -------------------------------- */
.kv {
  padding: 0;
}

.kv__copy {
  position: absolute;
  left: 10%;
  top: 40%;
  font-size: 1.8rem;
  line-height: 1.5;
  font-family: 'Noto Serif JP', serif;
  color: #0a0a0a;
  z-index: 10;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .kv__copy {
    left: 5%;
  }
}

.kv__wrapper {
  max-width: 100%;
  overflow: hidden;
  background-color: #f2f2f2;
}

.kv__wrapper__inner {
  position: relative;
  left: 20%;
  height: 650px;
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 70%, #f2f2f2 100%), url("../images/top.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 900px) {
  .kv__wrapper__inner {
    left: 10%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, #f2f2f2 100%), url("../images/top.png");
  }
}

@media screen and (max-width: 780px) {
  .kv__wrapper__inner {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 0.9) 100%), url("../images/top.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
  }
}

/* --------------------------------
 * cross section pictures
 * -------------------------------- */
.ex {
  background-color: #0a0a0a;
  color: #f2f2f2;
}

.ex p {
  padding-bottom: 3rem;
  text-align: center;
}

.ex__wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.ex__wrapper__box {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 50%;
  border-right: 1px solid #ebd842;
}

@media screen and (max-width: 900px) {
  .ex__wrapper__box {
    border-right: none;
    width: 70%;
  }
}

.ex__wrapper__magnify {
  width: 35%;
}

@media screen and (max-width: 900px) {
  .ex__wrapper__magnify {
    display: none;
  }
}

.ex__wrapper__magnify .small img {
  width: 100%;
  max-width: 320px;
  box-shadow: 1px 1px 15px 15px #aaa;
}

.ex__wrapper__magnify p {
  padding-top: 2.5rem;
  text-align: center;
}

.ex__box {
  margin: 1rem 0;
  width: 30%;
}

@media screen and (max-width: 900px) {
  .ex__box {
    width: 100%;
  }
}

.ex__box__image {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 1px 1px 4px #aaaaaa;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .ex__box__image {
    cursor: unset;
  }
}

.ex__box__image:active {
  top: 3px;
  box-shadow: unset;
}

@media screen and (max-width: 900px) {
  .ex__box__image:active {
    top: unset;
    box-shadow: 1px 1px 4px #aaaaaa;
  }
}

.ex__box__description {
  padding-top: 2rem;
  text-align: center;
}

.ex__box p {
  display: none;
}

@media screen and (max-width: 900px) {
  .ex__box p {
    display: block;
    margin: 1rem auto 3rem;
    padding-bottom: 0;
  }
}

/* --------------------------------
 * process
 * -------------------------------- */
.process {
  background-color: #0a0a0a;
  color: #f2f2f2;
}

.process__box {
  position: relative;
  max-width: 40%;
  margin: 3rem auto 0;
}

.process__box:first-of-type {
  margin: 0 auto;
}

.process__box__inner {
  padding: 1rem;
  line-height: 1.5;
}

.process__box__inner li {
  margin-left: 1.1rem;
  color: #ebd842;
}

.process__box__inner li span {
  color: #f2f2f2;
}

.process__box h3 {
  font-size: 1.3rem;
  margin: 0 0 .5em;
}

.process__box h3:first-letter {
  font-size: 1.56rem;
  color: #ebd842;
}

.process__box:before, .process__box:after {
  content: "";
  width: 3em;
  height: 3em;
  position: absolute;
}

.process__box::before {
  border-top: 1px solid #ebd842;
  border-left: 1px solid #ebd842;
}

.process__box::after {
  border-bottom: 1px solid #ebd842;
  border-right: 1px solid #ebd842;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 900px) {
  .process__box {
    max-width: 70%;
  }
}

/* --------------------------------
 * flow
 * -------------------------------- */
.flow {
  background-color: #f2f2f2;
}

.flow__wrapper {
  display: flex;
  justify-content: center;
}

.flow__wrapper:nth-of-type(even) > .flow__imagebox {
  order: -1;
}

.flow__wrapper > * {
  flex-basis: 30%;
  margin: 2rem 1rem;
}

@media screen and (max-width: 780px) {
  .flow__wrapper > * {
    flex-basis: 70%;
    margin: 2rem 1rem;
  }
}

.flow__textbox__inner {
  padding: 1.5em;
  background-color: #fff;
  border-radius: 10px;
}

.flow__textbox__num {
  font-weight: bold;
  font-size: 1.3rem;
  margin-right: 0.5rem;
}

.flow__textbox__description {
  margin-top: 1rem;
  line-height: 1.5;
}

.flow__textbox__title {
  padding: 0.1rem;
  font-weight: bold;
  background: linear-gradient(to right, #ebd842 0%, rgba(235, 216, 66, 0.3) 20%, rgba(255, 255, 255, 0) 80%);
  border-radius: 5px;
}

.flow__imagebox img {
  width: 100%;
}

@media screen and (max-width: 780px) {
  .flow__imagebox {
    display: none;
  }
}

/* --------------------------------
 * contact
 * -------------------------------- */
.contact {
  background-color: #f2f2f2;
}

.contact__info {
  text-align: center;
}

.contact__tel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
  font-size: 1.3rem;
  font-weight: bold;
  color: #ebd842;
  text-shadow: 1px 1px 0px #0a0a0a, -1px 1px 0px #0a0a0a, 1px -1px 0px #0a0a0a, -1px -1px 0px #0a0a0a, 1px 0px 0px #0a0a0a, 0px 1px 0px #0a0a0a, -1px 0px 0px #0a0a0a;
}

.contact__tel .sym.sym__black {
  margin-right: 4px;
  fill: #ebd842;
}

.contact__form {
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 850px) {
  .contact__form {
    width: 80%;
  }
}

@media screen and (max-width: 780px) {
  .contact__form {
    display: block;
    width: 60%;
  }
}

@media screen and (max-width: 500px) {
  .contact__form {
    display: block;
    width: 70%;
  }
}

.contact__form > div {
  width: 35%;
}

@media screen and (max-width: 1100px) {
  .contact__form > div {
    width: 50%;
  }
}

@media screen and (max-width: 780px) {
  .contact__form > div {
    width: 100%;
  }
}

.contact__form > div:first-of-type {
  margin-right: 5%;
}

.contact__form label {
  display: block;
  margin: 2rem 0 0.5rem 0;
}

.contact__form label .required {
  display: inline-block;
  margin-left: 4px;
  padding: 1px 4px;
  background-color: #ebd842;
  border-radius: 5px;
  color: #0a0a0a;
  font-size: 0.7rem;
}

.contact__form label .required.not {
  background-color: #ccc;
}

.contact__form label:first-of-type {
  margin-top: 0;
}

@media screen and (max-width: 1100px) {
  .contact__form label:first-of-type {
    margin-top: 2rem;
  }
}

.contact__form__input {
  padding: 0.5rem;
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: #fff;
}

.contact__form__input.comment {
  height: 19rem;
  overflow-y: auto;
}

.contact .errMsg {
  padding: 3px;
  color: crimson;
}

.contact .sendMsg {
  text-align: center;
  margin-top: 1rem;
  height: 1rem;
}

#ajax {
  display: block;
  position: relative;
  max-width: 4rem;
  margin: 1rem auto;
  padding: 0.3rem 1rem;
  outline: none;
  text-align: center;
  background-color: #eee;
  cursor: pointer;
  border: 1px solid #0a0a0a;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #0a0a0a;
}

#ajax:hover {
  background-color: #ebd842;
}

#ajax:active {
  border: 1px solid #0a0a0a;
  top: 2px;
  box-shadow: unset;
  background-color: rgba(235, 216, 66, 0.3);
}

#ajax:disabled {
  background-color: unset;
}

/* --------------------------------
 * footer
 * -------------------------------- */
footer {
  text-align: right;
  padding: 1rem 4rem;
  background-color: #0a0a0a;
  color: #f2f2f2;
  font-size: 0.7rem;
}

@media screen and (max-width: 450px) {
  footer {
    padding: 1rem 0;
    text-align: center;
  }
}
