
// --------------------------------
// variables
// --------------------------------
@charset "UTF-8";
$white: #f2f2f2;
$black: #0a0a0a;
$yellow: #ebd842;
$m: 1.0rem;
$l: 1.3rem;
$ll: 2.0rem;
$x: 4.0rem;
$logoColor: $white;
$navColor: $white;
$headerBgColor: $black;

/* --------------------------------
 * standards
 * -------------------------------- */
body {
  width: 100%;
}
*, *::before, *::after {
  box-sizing: border-box;
}
.clearfix::after {
  content: '';
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}
/* --------------------------------
 * header nav
 * -------------------------------- */
.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  color: $logoColor;
  background-color: $headerBgColor;
  background-color: #aaaaaa;
  display: flex;
  align-items: center;
  font-size: $m;
  &__logo {
  padding: 5px;
  margin-right: 10rem;
  margin-left: 1rem;
    font-size: 3rem;
    font-weight: normal;
    font-family: 'Akaya Telivigala', cursive;
    &__text {
      text-align: center;
      text-shadow: 2px 2px 0px #aaaaaa, 3px 2px 4px rgba(#aaaaaa,0.15);
      &__sub {
        margin: 0;
        padding: 0;
        display: block;
        font-size: 1.2rem;
        vertical-align: top;
        text-shadow: none;
        text-align: center;
      }
    }
  }
  .gnav {
    &__menu {
//      display: inline-block;
//      line-height: 1;
//      border: 1px solid lightgreen;
      a {
        color: $navColor;
        text-decoration: none;
      }
      &__list {
//      list-style: none;
      }
      &__item {
      float: left;
      margin-right: 20px;
      padding: 0px;
//      font-size: 1.5rem;
      letter-spacing: 1px;
      }
    }
    &__support {
//      border: 1px solid lightgreen;
//      display: inline-block;
      font-size: 1.5rem;
      &__item {
//      font-size: 1.5rem;
        float: left;
      }
    }
  }
}

.section {
	padding: $x 0;
	&__title {
    font-size: $ll;
    text-align: center;
    padding: $x;
  }
}

/* --------------------------------
 * keynote view
 * -------------------------------- */
.kv {
	padding: 0;
  &__copy {
    position: absolute;
    left: 10rem;
    top: 20rem;
    font-size: $ll;
    color: $black;
    z-index: 1;
		text-align: center;
  }
  &__wrapper {
    max-width: 100%;
    overflow: hidden;
    background-color: $white;
    &__inner{
      position: relative;
      left: 25rem;
      height: 650px;
      background: linear-gradient(to left, transparent 0%, transparent 70%, $white 100%), url('../images/top.png');
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

/* --------------------------------
 * process
 * -------------------------------- */
.process {
	background-color: $black;
	color: $white;
	
	&__box {
//      border: 3px solid lightgreen;
		position: relative;
		max-width:40%;
		margin: 3rem auto 0;
		
		&__inner {
			padding: 1em;
		}
		
		&:before,	&:after {
			content: "";
			width: 3em;
			height: 3em;
			position: absolute;
		}
		
		&::before {
			border-top: 1px solid $yellow;
			border-left: 1px solid $yellow;
		}
		
		&::after {
			border-bottom: 1px solid $yellow;
			border-right: 1px solid $yellow;
			right: 0;
			bottom: 0;
		}
		
		& h3 {
			font-size: $l;
			margin: 0 0 .5em;
		}
		
		& h3:first-letter {
			font-size: $l * 1.2;
			color: $yellow;
		}
	}
}


/* --------------------------------
 * flow
 * -------------------------------- */
.flow {
	background-color: $white;
	
	&__wrapper {
		display: flex;
		justify-content: center;
		
		&>* {
			flex-basis: 30%;
			margin: 2rem 1rem;
		}
		
		&:nth-of-type(even)>.flow__imagebox {
			order: -1;
		}
	}
	
	&__textbox {
		display: flex;
		align-items: center;
		justify-content: center;
		
		&__inner {
		padding: 1.5em;
		background-color: #fff;
		border-radius: 10px;
		}
		
		&__num {
			font-weight: bold;
			font-size: $l;
		}
		
		&__description {
//      border: 2px solid lightgreen;
			margin-top: 1rem;
//			white-space: nowrap;
		}
		
		&__title {
			padding: 0.1rem;
//			font-size: $;
			font-weight: normal;
			background: linear-gradient(to right, $yellow 0%, rgba($yellow, 0.3) 20%, transparent 80%);
			border-radius: 5px;
		}
		
	}
	&__imagebox {
		img {
			width: 100%;
		}
	}
}

/* --------------------------------
 * cross section pictures
 * -------------------------------- */
.ex {
  background-color: #000;
  color: $white;
  &__box {
      margin: 5rem 0;
      width: 20%;
//      border: 3px solid lightgreen;
//    &:last-of-type {
//      margin-right: auto;
//    }
    &__wrapper {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
			padding: 1px;
//      border: 3px solid lightgreen;
    }
    &__image {
    max-width: 100%;
    max-height: 100%;
    }
    &__description {
//      border: 3px solid lightgreen;
      padding-top: 2rem;
//			margin: 1rem;
      text-align: center;
    }
  }
}


/* --------------------------------
 * contact
 * -------------------------------- */
.contact{
	background-color: $white;
	
	&__form {
		margin: 0 auto;
		width: 70%;
		display: flex;
		justify-content: center;
		
		> div {
      border: 1px solid lightgreen;
			&:first-of-type {
			margin-right: 5%;
			width: 25%;
			}
			&:last-of-type {
			width: 40%;
			}
		}
		
		label {
			display: block;
			margin: 2rem 0 0.5rem 0;
			&:first-of-type {
				margin-top: 0;
			}
		}
		
		&__input {
//			margin: 0.5rem 0 2rem;
			padding: 0.5rem;
			border: 1px solid #aaa;
			border-radius: 5px;
			background-color: #fff;
			
			&.comment{
				height: 19rem;
				overflow-y: auto;
			}	
		}
	}
}
#ajax {
//	text-align: center;
	
	color: red;
}


/* --------------------------------
 * parts
 * -------------------------------- */
.scroll{
  margin: 0 auto;
  background-color: transparent;
  width: 3rem;
  height: 3rem;
  border: 0.5rem solid;
  border-color:  transparent transparent $black $black;
  transform: rotate(-45deg);
  animation: flash 3s linear infinite;
}
.white {
  border-color:  transparent transparent $white $white;
}
.sym {
  width: 1.5rem;
  height: 1rem;
  fill: $white;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}