/* --------------------------------
 * standards
 * -------------------------------- */
/* line 15, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
*, *::before, *::after {
  box-sizing: border-box; }

/* line 18, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
.clearfix::after {
  content: '';
  clear: both;
  display: block;
  visibility: hidden;
  height: 0; }

/* line 25, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
html {
  font-size: 62.5%; }

/* line 28, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
body {
  width: 100%; }

/* --------------------------------
 * header nav
 * -------------------------------- */
/* line 34, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  color: #f2f2f2;
  background-color: #0a0a0a;
  background-color: #aaaaaa;
  display: flex;
  align-items: center;
  font-size: 1.5rem; }
  /* line 44, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
  .header__logo {
    padding: 5px;
    margin-right: 10rem;
    margin-left: 1rem;
    font-size: 3rem;
    font-weight: normal;
    font-family: 'Akaya Telivigala', cursive; }
    /* line 51, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
    .header__logo__text {
      text-align: center;
      text-shadow: 2px 2px 0px #aaaaaa, 3px 2px 4px rgba(170, 170, 170, 0.15); }
      /* line 54, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
      .header__logo__text__sub {
        margin: 0;
        padding: 0;
        display: block;
        font-size: 1.2rem;
        vertical-align: top;
        text-shadow: none;
        text-align: center; }
  /* line 70, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
  .header .gnav__menu a {
    color: #f2f2f2;
    text-decoration: none; }
  /* line 77, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
  .header .gnav__menu__item {
    float: left;
    margin-right: 20px;
    padding: 0px;
    letter-spacing: 1px; }
  /* line 85, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
  .header .gnav__support {
    font-size: 1.5rem; }
    /* line 89, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
    .header .gnav__support__item {
      float: left; }

/* --------------------------------
 * keynote view
 * -------------------------------- */
/* line 101, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
.kv__copy {
  position: absolute;
  left: 20rem;
  top: 30rem;
  font-size: 3rem;
  color: #0a0a0a;
  z-index: 1; }

/* line 109, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
.kv__wrapper {
  max-width: 100%;
  overflow: hidden;
  background-color: #f2f2f2; }
  /* line 113, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
  .kv__wrapper__inner {
    position: relative;
    left: 25rem;
    height: 650px;
    background: linear-gradient(to left, transparent 0%, transparent 70%, #f2f2f2 100%), url("../images/top.png");
    background-size: cover;
    background-repeat: no-repeat; }

/* --------------------------------
 * cross section pictures
 * -------------------------------- */
/* line 127, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
.ex {
  background-color: #aaa;
  color: #f2f2f2; }
  /* line 130, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
  .ex h2 {
    font-size: 3rem;
    text-align: center;
    padding: 3rem; }
  /* line 135, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
  .ex__box {
    margin: 3rem;
    width: 35%; }
    /* line 142, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
    .ex__box__image {
      max-width: 100%;
      max-height: 100%; }
    /* line 146, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
    .ex__box__wrapper {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap; }
    /* line 151, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
    .ex__box__description {
      font-size: 1.5rem;
      padding-top: 2rem;
      text-align: center; }

/* --------------------------------
 * parts
 * -------------------------------- */
/* line 161, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
.scroll {
  margin: 0 auto;
  background-color: transparent;
  width: 3rem;
  height: 3rem;
  border: 0.5rem solid;
  border-color: transparent transparent #0a0a0a #0a0a0a;
  transform: rotate(-45deg);
  animation: flash 3s linear infinite; }

/* line 171, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
.white {
  border-color: transparent transparent #f2f2f2 #f2f2f2; }

/* line 174, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
.sym {
  width: 1.5rem;
  height: 1rem;
  fill: #f2f2f2; }

@keyframes flash {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*# sourceMappingURL=index.css.map */