@charset "UTF-8";
/* Copyright 2021 yn-nishi All Rights Reserved. */
// --------------------------------
// variables
// --------------------------------
$white: #f2f2f2;
$black: #0a0a0a;
$yellow: #ebd842;
$darkYellow: darken($yellow, 20%);
$m: 1.0rem;
$l: 1.3rem;
$ll: 1.8rem;
$headerBgColor: rgba($black, 0.8);
$headerBgColor2: rgba($white, 0.8);

/* --------------------------------
 * base & common
 * -------------------------------- */

/* Google Fonts 使用 */
@font-face {
  font-family: 'M PLUS Rounded 1c';
	src: url('../fonts/MPLUSRounded1c-Regular.ttf') format('truetype');
	/* SIL OPEN FONT LICENSE Version 1.1 - 26 February 2007 (http://scripts.sil.org/OFL) */
}

@font-face {
  font-family: 'Akaya Telivigala';
	src: url('../fonts/AkayaTelivigala-Regular.ttf') format('truetype');
	/* Copyright 2015 The Akaya Telivigala Project Authors (https://github.com/vaishnavimurthy/Akaya-Telivigala) */
}

@font-face {
  font-family: 'Noto Serif JP';
	src: url('../fonts/NotoSerifJP-Light.otf') format('opentype');
	/* SIL OPEN FONT LICENSE Version 1.1 - 26 February 2007 (http://scripts.sil.org/OFL) */
}

body {
  width: 100%;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	letter-spacing : 1px;
	
	a {
		text-decoration: none;
		color: inherit;
	}
}
*, *::before, *::after {
  box-sizing: border-box;
}
.clearfix::after {
  content: '';
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}

.section {
	padding: 3rem 0 2.5rem;
	&__title {
    font-size: $ll;
    text-align: center;
    padding: 4rem;
  }
}

/* --------------------------------
 * svg画像
 * -------------------------------- */
.sym {
  width: 1rem;
	height: 1rem;
	stroke-width: 2;
	margin-right: 2px;
	
	&.sym__black {
		fill: transparent;
		stroke: $black;
	}
	
	&.sym__white {
		fill: transparent;
		stroke: $white;
	}
	
	&.sym__yellow {
		fill: transparent;
		stroke: $yellow;
	}
}


/* --------------------------------
 * header nav
 * -------------------------------- */
.header {
  position: fixed;
  z-index: 200;
  width: 100%;
  color: $white;
  background-color: $headerBgColor;
  display: flex;
  align-items: center;
	justify-content: space-between;

  &__logo {
		padding: 5px;
		margin-left: 1rem;
    font-size: $ll;
    font-weight: normal;
    font-family: 'Akaya Telivigala', cursive;
		text-align: center;
		text-shadow: 2px 2px 0px #aaaaaa, 3px 2px 4px rgba(#aaaaaa,0.15);
		
		&__sub {
			margin: 0;
			padding: 0;
			display: block;
			vertical-align: top;
			text-shadow: none;
			text-align: center;
			font-size: $m * 0.8;
			letter-spacing: normal;
      // サブタイトルは横に並べて縦方向スペース確保
      @media screen and(max-width: 620px) {
        display: inline-block;
        margin-left: 0.5rem;
        vertical-align: baseline;
			  font-size: $m * 0.9;
        line-height: 1;
      }
      // 350px以下は非表示
      @media screen and(max-width: 350px) {
        display: none;
      }
		}
			
		&:hover  {
			color: $yellow;
		}
  }
	
		
	 .gnav__menu__item {
		float: left;
		margin-right: $m;
		padding: 0px;

		&:last-of-type {
			margin-right: 0;
			// 電話番号を非表示にすると右側に寄りすぎるのでmargin追記
			@media screen and(max-width: 780px) {
				margin-right: 2rem;
			}
    }
		
    p {
      // 文字を非表示 アイコンは残る
		  @media screen and(max-width: 620px) {
        display: none;
      }
    }
		
		& a {
			position: relative;
			display: flex;
			align-items: center;

			&::after {
				position: absolute;
				left: 50%;
				bottom: -4px;
				content: '';
				width: 0;
				height: 1px;
				background-color: $yellow;
				transition: width 0.3s ease-in;
				transform: translateX(-50%);
			}

			&:hover {
				.sym {
					stroke: $yellow;
					stroke-width: 3;
				}

				&::after {
					width: 100%;
				}
			}
		}
	}
		
	.gnav__support {
		margin-right: 2rem;
		display: flex;
		align-items: center;
		
    // 電話番号非表示
		@media screen and(max-width: 780px) {
			display: none;
		}
	}
	
	/* body背景が黒の時のheaderスタイル */
	&.scroll {
		color: $black;
		background-color: $headerBgColor2;
		
		.sym {
			stroke: $black;
			stroke-width: 2;
		}
		
		a {
			&::after {
				height: 3px;
				background-color: $darkYellow;
			}

			&:hover {
				font-weight: bold;
				
				.sym {
					stroke: $black;
					stroke-width: 3;
					fill: $yellow;
				}
				.header__logo {
					color: $black;
					font-weight: bold;
				}
			}
		}
	}
}


/* --------------------------------
 * keynote view
 * -------------------------------- */
.kv {
	padding: 0;
  &__copy {
    position: absolute;
    left: 10%;
    top: 40%;
    font-size: $ll;
		line-height: 1.5;
		font-family: 'Noto Serif JP', serif;
    color: $black;
    z-index: 10;
		text-align: center;
    
    @media screen and(max-width: 900px) {
      left: 5%;
    }
  }
  &__wrapper {
    max-width: 100%;
    overflow: hidden;
    background-color: $white;
		
    &__inner{
      position: relative;
      left: 20%;
      height: 650px;
      background:
        // transparent使うとiOSで灰色になるのでrgba(255,255,255,0)で表記
        linear-gradient(to left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 70%, $white 100%),
        url('../images/top.png');
      background-size: cover;
      background-repeat: no-repeat;
      // top画像の位置と色合いを調整
      @media screen and(max-width: 900px) {
        left: 10%; 
        background:
          linear-gradient(to left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 40%, $white 100%),
          url('../images/top.png');
      }
      @media screen and(max-width: 780px) {
        left: 0;
        background:
          linear-gradient(
            to left,
            rgba(255,255,255,0) 0%,
            rgba(255,255,255,0) 30%,
            rgba(255,255,255,0.7) 50%,
            rgba(255,255,255,0.9) 100%
          ),
          url('../images/top.png');
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}


/* --------------------------------
 * cross section pictures
 * -------------------------------- */
.ex {
  background-color: $black;
  color: $white;
	
			p {
				padding-bottom: 3rem;
				text-align: center;
			}
  
	&__wrapper {
      display: flex;
      justify-content: space-evenly;
			align-items: center;
		
		&__box {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
			width: 50%;
			border-right: 1px solid $yellow;
      // 拡大鏡非表示に伴う調整
      @media screen and(max-width: 900px) {
        border-right: none;
        width: 70%;
      }
		}
		
		&__magnify {
			width: 35%;
      // タブレットはマウスホバーできないので拡大鏡非表示
      @media screen and(max-width: 900px) {
        display: none;
      }
			
			.small img {
				width: 100%;
				max-width: 320px;
				box-shadow: 1px 1px 15px 15px#aaa;
			}
			
			p {
				padding-top: 2.5rem;
				text-align: center;
			}
		}
	}
	
	
  &__box {
		margin: 1rem 0;
		width: 30%;
    // 拡大鏡非表示に伴う調整
    @media screen and(max-width: 900px) {
      width: 100%;
    }
		
    &__image {
			position: relative;
			max-width: 100%;
			max-height: 100%;
			box-shadow: 1px 1px 4px rgba(#aaa, 1);
			cursor: pointer;
      // 拡大鏡非表示に伴う調整
      @media screen and(max-width: 900px) {
        cursor: unset;
      }
			
			&:active {
				top: 3px;
				box-shadow: unset;
        // 拡大鏡非表示に伴う調整
        @media screen and(max-width: 900px) {
          top: unset;
			    box-shadow: 1px 1px 4px rgba(#aaa, 1);
        }
			}
    }
		
    &__description {
      padding-top: 2rem;
      text-align: center;
    }
    // 拡大鏡非表示の場合専用の断面画像の説明文
    p {
      display: none;
      @media screen and(max-width: 900px) {
        display: block;
        margin: 1rem auto 3rem;;
        padding-bottom: 0;
      }
    }
  }
}

/* --------------------------------
 * process
 * -------------------------------- */
.process {
	background-color: $black;
	color: $white;
	
	&__box {
		position: relative;
		max-width: 40%;
		margin: 3rem auto 0;
    
    &:first-of-type {
  		margin: 0 auto ;
    }
		
		&__inner {
			padding: $m;
			line-height: 1.5;
			
			li {
				margin-left: 1.1rem;
				color: $yellow;
				
				span {
					color: $white;
				}
			}
		}
		
		& h3 {
			font-size: $l;
			margin: 0 0 .5em;
		}
		
		& h3:first-letter {
			font-size: $l * 1.2;
			color: $yellow;
		}
		
		&:before,	&:after {
			content: "";
			width: 3em;
			height: 3em;
			position: absolute;
		}
		
		&::before {
			border-top: 1px solid $yellow;
			border-left: 1px solid $yellow;
		}
		
		&::after {
			border-bottom: 1px solid $yellow;
			border-right: 1px solid $yellow;
			right: 0;
			bottom: 0;
		}
    
    @media screen and(max-width: 900px) {
      max-width: 70%;
    }
	}
}


/* --------------------------------
 * flow
 * -------------------------------- */
.flow {
	background-color: $white;
	
	&__wrapper {
		display: flex;
		justify-content: center;
		
		&>* {
			flex-basis: 30%;
			margin: 2rem 1rem;
      // 画像と説明を互い違いに表示
      &:nth-of-type(even)>.flow__imagebox {
        order: -1;
      }
      // イメージ画像非表示に応じた調整
      @media screen and(max-width: 780px) {
        flex-basis: 70%;
        margin: 2rem 1rem;
      }
		}
	}
	
  &__textbox {
		&__inner {
		padding: 1.5em;
		background-color: #fff;
		border-radius: 10px;
		}
		
		&__num {
			font-weight: bold;
			font-size: $l;
			margin-right: 0.5rem;
		}
		
		&__description {
			margin-top: $m;
			line-height: 1.5;
		}
		
		&__title {
			padding: 0.1rem;
			font-weight: bold;
			background: linear-gradient(to right, $yellow 0%, rgba($yellow, 0.3) 20%, rgba(255,255,255,0) 80%);
			border-radius: 5px;
		}
		
	}
	&__imagebox {
    
		img {
			  width: 100%;
      }
    // イメージ画像非表示
    @media screen and(max-width: 780px) {
      display: none;
		}
	}
}

/* --------------------------------
 * contact
 * -------------------------------- */
.contact{
	background-color: $white;
	
	&__info {
		text-align: center;
	}
	
	&__tel{
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 1rem 0 3rem 0;
		font-size: $l;
		font-weight: bold;
		color: $yellow;
	  text-shadow : 
			1px  1px 0px $black,
			-1px  1px 0px $black,
			1px -1px 0px $black,
			-1px -1px 0px $black,
			1px  0px 0px $black,
			0px  1px 0px $black,
			-1px  0px 0px $black;
		
		.sym.sym__black {
			margin-right: 4px;
			fill: $yellow;
		}
	}
	&__form {
		margin: 0 auto;
		width: 70%;
		display: flex;
		justify-content: center;
    // form幅調整
      @media screen and(max-width: 850px) {
        width: 80%;
      }
      @media screen and(max-width: 780px) {
        display: block;
          width: 60%;
      }
      @media screen and(max-width: 500px) {
        display: block;
          width: 70%;
      }

      > div {
        width: 35%;
      // form幅調整
      @media screen and(max-width: 1100px) {
        width: 50%;
      }
      @media screen and(max-width: 780px) {
        width: 100%;
      }
			
			&:first-of-type {
			  margin-right: 5%;
			}
		}
		
		label {
			display: block;
			margin: 2rem 0 0.5rem 0;
				
      .required {
        display: inline-block;
        margin-left: 4px;
        padding: 1px 4px;
        background-color: $yellow;
        border-radius: 5px;
        color: $black;
        font-size: $m * 0.7;

        &.not {
          background-color: #ccc;
        }
      }
      
			&:first-of-type {
				margin-top: 0;
        
        @media screen and(max-width: 1100px) {
          margin-top: 2rem;
        }
			}
		}
		
		&__input {
			padding: 0.5rem;
			border: 1px solid #aaa;
			border-radius: 5px;
			background-color: #fff;
			
			&.comment{
				height: 19rem;
				overflow-y: auto;
			}	
		}
	}
	.errMsg {
		padding: 3px;
		color: crimson;
	}
	.sendMsg {
		text-align: center;
		margin-top: 1rem;
		height: 1rem;
	}
}
#ajax {
	display: block;
	position: relative;
	max-width: 4rem;
	margin: 1rem auto;
	padding: 0.3rem 1rem;
	outline: none;
	text-align: center;
	background-color: #eee;
	cursor: pointer;
	border: 1px solid $black;
	border-radius: 5px;
	box-shadow: 1px 1px 1px $black;
	&:hover {
		background-color: $yellow;
	}
	&:active {
		border: 1px solid $black;
		top:2px;
		box-shadow: unset;
		background-color: rgba($yellow, 0.3);
	}
	&:disabled {
		background-color: unset;
	}
}

/* --------------------------------
 * footer
 * -------------------------------- */

footer {
	text-align: right;
	padding: 1rem 4rem;
	background-color: $black;
	color: $white;
	font-size: $m * 0.7;
  // 文字位置調整
  @media screen and(max-width: 450px) {
    padding: 1rem 0;
    text-align: center;
  }
}

