/* --------------------------------
 * base
 * -------------------------------- */
@font-face {
  font-family: 'M PLUS Rounded 1c';
  src: url("../fonts/MPLUSRounded1c-Regular.ttf") format("truetype");
  /* SIL OPEN FONT LICENSE Version 1.1 - 26 February 2007 http://scripts.sil.org/OFL */ }

@font-face {
  font-family: 'Akaya Telivigala';
  src: url("../fonts/AkayaTelivigala-Regular.ttf") format("truetype");
  /* Copyright 2015 The Akaya Telivigala Project Authors (https://github.com/vaishnavimurthy/Akaya-Telivigala) */ }

/* line 33, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
body {
  width: 100%;
  letter-spacing: 1px; }

/* line 37, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
*, *::before, *::after {
  box-sizing: border-box; }

/* line 40, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
.clearfix::after {
  content: '';
  clear: both;
  display: block;
  visibility: hidden;
  height: 0; }

/* --------------------------------
 * header nav
 * -------------------------------- */
/* line 51, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  color: #f2f2f2;
  background-color: rgba(10, 10, 10, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-between; }
  /* line 61, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
  .header.scroll {
    background-color: rgba(242, 242, 242, 0.2); }
  /* line 66, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
  .header a {
    color: #f2f2f2;
    text-decoration: none; }
  /* line 71, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
  .header__logo {
    padding: 5px;
    margin-left: 1rem;
    font-size: 1.8rem;
    font-weight: normal;
    font-family: 'Akaya Telivigala', cursive;
    text-align: center;
    text-shadow: 2px 2px 0px #aaaaaa, 3px 2px 4px rgba(170, 170, 170, 0.15); }
    /* line 80, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
    .header__logo__sub {
      margin: 0;
      padding: 0;
      display: block;
      vertical-align: top;
      text-shadow: none;
      text-align: center;
      font-size: 0.8rem;
      letter-spacing: normal; }
  /* line 93, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
  .header .gnav__image {
    stroke: #f2f2f2;
    width: 1rem;
    height: 1rem; }
  /* line 99, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
  .header .gnav__menu__item {
    float: left;
    margin-right: 1rem;
    padding: 0px;
    font-family: 'M PLUS Rounded 1c', sans-serif; }
    /* line 105, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
    .header .gnav__menu__item:last-of-type {
      margin-right: 0; }
    /* line 109, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
    .header .gnav__menu__item a {
      position: relative;
      display: flex;
      align-items: center; }
      /* line 117, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
      .header .gnav__menu__item a::after {
        position: absolute;
        left: 50%;
        bottom: -4px;
        content: '';
        width: 0;
        height: 1px;
        background-color: #ebd842;
        transition: width 0.3s ease-in;
        transform: translateX(-50%); }
      /* line 131, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
      .header .gnav__menu__item a:hover::after {
        width: 100%; }
      /* line 135, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
      .header .gnav__menu__item a:hover:hover .sym {
        stroke: #ebd842;
        stroke-width: 3; }
  /* line 143, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
  .header .gnav__support {
    margin-right: 2rem;
    pointer-events: none; }

/* line 150, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
.section {
  padding: 4rem 0; }
  /* line 152, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
  .section__title {
    font-size: 1.8rem;
    text-align: center;
    padding: 4rem; }

/* --------------------------------
 * keynote view
 * -------------------------------- */
/* line 162, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
.kv {
  padding: 0; }
  /* line 164, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
  .kv__copy {
    position: absolute;
    left: 10rem;
    top: 20rem;
    font-size: 1.8rem;
    color: #0a0a0a;
    z-index: 1;
    text-align: center; }
  /* line 173, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
  .kv__wrapper {
    max-width: 100%;
    overflow: hidden;
    background-color: #f2f2f2; }
    /* line 177, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
    .kv__wrapper__inner {
      position: relative;
      left: 25rem;
      height: 650px;
      background: linear-gradient(to left, transparent 0%, transparent 70%, #f2f2f2 100%), url("../images/top.png");
      background-size: cover;
      background-repeat: no-repeat; }

/* --------------------------------
 * cross section pictures
 * -------------------------------- */
/* line 192, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
.ex {
  background-color: #000;
  color: #f2f2f2; }
  /* line 195, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
  .ex__box {
    margin: 5rem 0;
    width: 20%; }
    /* line 202, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
    .ex__box__wrapper {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      padding: 1px; }
    /* line 209, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
    .ex__box__image {
      max-width: 100%;
      max-height: 100%; }
    /* line 213, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
    .ex__box__description {
      padding-top: 2rem;
      text-align: center; }

/* --------------------------------
 * process
 * -------------------------------- */
/* line 227, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
.process {
  background-color: #0a0a0a;
  color: #f2f2f2; }
  /* line 231, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
  .process__box {
    position: relative;
    max-width: 40%;
    margin: 3rem auto 0; }
    /* line 237, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
    .process__box__inner {
      padding: 1rem;
      line-height: 1.5; }
      /* line 241, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
      .process__box__inner li {
        margin-left: 1.1rem;
        color: #ebd842; }
        /* line 245, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
        .process__box__inner li span {
          color: #f2f2f2; }
    /* line 251, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
    .process__box h3 {
      font-size: 1.3rem;
      margin: 0 0 .5em; }
    /* line 256, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
    .process__box h3:first-letter {
      font-size: 1.56rem;
      color: #ebd842; }
    /* line 261, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
    .process__box:before, .process__box:after {
      content: "";
      width: 3em;
      height: 3em;
      position: absolute; }
    /* line 268, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
    .process__box::before {
      border-top: 1px solid #ebd842;
      border-left: 1px solid #ebd842; }
    /* line 273, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
    .process__box::after {
      border-bottom: 1px solid #ebd842;
      border-right: 1px solid #ebd842;
      right: 0;
      bottom: 0; }

/* --------------------------------
 * flow
 * -------------------------------- */
/* line 286, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
.flow {
  background-color: #f2f2f2; }
  /* line 289, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
  .flow__wrapper {
    display: flex;
    justify-content: center; }
    /* line 293, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
    .flow__wrapper > * {
      flex-basis: 30%;
      margin: 2rem 1rem; }
    /* line 298, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
    .flow__wrapper:nth-of-type(even) > .flow__imagebox {
      order: -1; }
  /* line 303, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
  .flow__textbox {
    display: flex;
    align-items: center;
    justify-content: center; }
    /* line 308, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
    .flow__textbox__inner {
      padding: 1.5em;
      background-color: #fff;
      border-radius: 10px; }
    /* line 314, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
    .flow__textbox__num {
      font-weight: bold;
      font-size: 1.3rem;
      margin-right: 0.5rem; }
    /* line 320, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
    .flow__textbox__description {
      margin-top: 1rem;
      line-height: 1.5; }
    /* line 327, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
    .flow__textbox__title {
      padding: 0.1rem;
      font-weight: bold;
      background: linear-gradient(to right, #ebd842 0%, rgba(235, 216, 66, 0.3) 20%, transparent 80%);
      border-radius: 5px; }
  /* line 336, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
  .flow__imagebox img {
    width: 100%; }

/* --------------------------------
 * contact
 * -------------------------------- */
/* line 345, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
.contact {
  background-color: #f2f2f2; }
  /* line 347, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
  .contact__info {
    text-align: center; }
  /* line 350, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
  .contact__tel {
    margin: 1rem 0 3rem 0;
    font-size: 1.3rem;
    font-weight: bold;
    color: #ebd842;
    text-shadow: 1px 1px 0px #0a0a0a, -1px 1px 0px #0a0a0a, 1px -1px 0px #0a0a0a, -1px -1px 0px #0a0a0a, 1px 0px 0px #0a0a0a, 0px 1px 0px #0a0a0a, -1px 0px 0px #0a0a0a; }
  /* line 364, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
  .contact__form {
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: center; }
    /* line 370, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
    .contact__form > div {
      width: 35%; }
      /* line 372, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
      .contact__form > div:first-of-type {
        margin-right: 5%; }
    /* line 381, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
    .contact__form label {
      display: block;
      margin: 2rem 0 0.5rem 0; }
      /* line 387, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
      .contact__form label .required {
        display: inline-block;
        margin-left: 4px;
        padding: 1px 4px;
        background-color: #ebd842;
        border-radius: 5px;
        color: #0a0a0a;
        font-size: 0.7rem; }
        /* line 396, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
        .contact__form label .required.not {
          background-color: #ccc; }
      /* line 400, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
      .contact__form label:first-of-type {
        margin-top: 0; }
    /* line 405, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
    .contact__form__input {
      padding: 0.5rem;
      border: 1px solid #aaa;
      border-radius: 5px;
      background-color: #fff; }
      /* line 411, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
      .contact__form__input.comment {
        height: 19rem;
        overflow-y: auto; }

/* line 418, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
#ajax {
  display: block;
  position: relative;
  max-width: 5rem;
  margin: 0 auto;
  padding: 0.4rem;
  text-align: center;
  background-color: #eee;
  cursor: pointer;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #0a0a0a; }
  /* line 430, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
  #ajax:hover {
    background-color: #ebd842; }
  /* line 433, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
  #ajax:active {
    border: 1px solid #0a0a0a;
    top: 2px;
    box-shadow: unset; }

/* --------------------------------
 * footer
 * -------------------------------- */
/* line 444, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
footer {
  text-align: right;
  padding: 1rem 4rem;
  background-color: #0a0a0a;
  color: #f2f2f2;
  font-size: 0.7rem; }

/* --------------------------------
 * parts
 * -------------------------------- */
/* line 455, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
.scrollArrow {
  margin: 0 auto;
  background-color: transparent;
  width: 3rem;
  height: 3rem;
  border: 0.5rem solid;
  border-color: transparent transparent #0a0a0a #0a0a0a;
  transform: rotate(-45deg);
  animation: flash 3s linear infinite;
  border-color: transparent transparent #f2f2f2 #f2f2f2; }

@keyframes flash {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* line 479, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
.sym {
  width: 1rem;
  height: 1rem;
  stroke-width: 2; }
  /* line 486, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
  .sym.sym__black {
    fill: #0a0a0a;
    stroke: #0a0a0a; }
  /* line 491, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
  .sym.sym__white {
    fill: #f2f2f2;
    stroke: #f2f2f2; }
  /* line 496, /Users/yuichi_nishi/01_dev/04_psh/css/index.scss */
  .sym.sym__yellow {
    fill: #ebd842;
    stroke: #ebd842; }

/*# sourceMappingURL=index.css.map */